body {
    background-color: lightgoldenrodyellow;
    color: darkblue;
}

.header {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 2%;
    width: 96%;
    height: 15%;
    background-color:lightsalmon;
}

.placeholder {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 20%;
    width: 96%;
    height: 73%;
    background-color: lavender;
}

.footer {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 95%;
    width: 96%;
    height: 5%;
    background-color: aqua;
    border-color: black;
}

h1, h2 {
    text-align: center;
    color:black;
}
